body {

}

.MainContent {
  display: grid;
  background-color: #e6e8e6;
  grid-template-rows: 20% 80%;
  font-family: 'Lato', sans-serif;
}

.GraphHeader {
  grid-row: 1;
  background-color: #a7a5c6;
  /* margin: auto; */
  border: 5px solid #a0a083;
}

.GraphContainer {
  grid-row: 2;
  border: 5px solid #a0a083;
  border-top: none;
}

.GraphBars {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 500px;
}

.EmptyColumn {
  height: 500px;
}

.July2018 {
  color: #6e9075;
  background-color: #e4e9b2;
  height: 300px;
  padding: 5px;
  border: 5px solid #a0a083;
  border-bottom: none;
}

.July2017 {
  color: #6e9075;
  background-color: #e4e9b2;
  height: 350px;
  padding: 5px;
  border: 5px solid #a0a083;
  border-bottom: none;
}

.July2016 {
  color: #6e9075;
  background-color: #e4e9b2;
  height: 315px;
  padding: 5px;
  border: 5px solid #a0a083;
  border-bottom: none;
}

.July2015 {
  color: #6e9075;
  background-color: #e4e9b2;
  height: 345px;
  padding: 5px;
  border: 5px solid #a0a083;
  border-bottom: none;
}

.July2014 {
  color: #6e9075;
  background-color: #e4e9b2;
  height: 350px;
  padding: 5px;
  border: 5px solid #a0a083;
  border-bottom: none;
}

.July2013 {
  color: #6e9075;
  background-color: #e4e9b2;
  height: 305px;
  padding: 5px;
  border: 5px solid #a0a083;
  border-bottom: none;
}

.July2012 {
  color: #6e9075;
  background-color: #e4e9b2;
  height: 310px;
  padding: 5px;
  border: 5px solid #a0a083;
  border-bottom: none;
}

.July2011 {
  color: #6e9075;
  background-color: #e4e9b2;
  height: 300px;
  padding: 5px;
  border: 5px solid #a0a083;
  border-bottom: none;
}

.July2010 {
  color: #6e9075;
  background-color: #e4e9b2;
  height: 335px;
  padding: 5px;
  border: 5px solid #a0a083;
  border-bottom: none;
}

.July2009 {
  color: #6e9075;
  background-color: #e4e9b2;
  height: 310px;
  padding: 5px;
  border: 5px solid #a0a083;
  border-bottom: none;
}

.July2008 {
  color: #6e9075;
  background-color: #e4e9b2;
  height: 315px;
  padding: 5px;
  border: 5px solid #a0a083;
  border-bottom: none;
}
