/* styled whole page here, all according to BEM*/
.MainContent {
  display: grid;
  background-color: #e6e8e6;
  grid-template-rows: 20% 80%;
  font-family: 'Lato', sans-serif;
}

.GraphHeader {
  grid-row: 1;
  background-color: #a7a5c6;
  border: 5px solid #a0a083;
}

.GraphContainer {
  grid-row: 2;
  border: 5px solid #a0a083;
  border-top: none;
}

/* flex inside of grid so I can add more bars later if needs be */
.GraphBars {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 600px;
}

.EmptyColumn {
  height: 500px;
}

.July2018 {
  color: #6e9075;
  background-color: #e4e9b2;
  height: 340px;
  padding: 5px;
  border: 5px solid #a0a083;
  border-bottom: none;
}

.July2017 {
  color: #6e9075;
  background-color: #e4e9b2;
  height: 500px;
  padding: 5px;
  border: 5px solid #a0a083;
  border-bottom: none;
}

/* extra bit of styling because it was the hottest year */
.July2017:hover {
  transition: 1.5s;
  height: 700px;
  background-color: red;
}

.July2016 {
  color: #6e9075;
  background-color: #e4e9b2;
  height: 360px;
  padding: 5px;
  border: 5px solid #a0a083;
  border-bottom: none;
}

.July2015 {
  color: #6e9075;
  background-color: #e4e9b2;
  height: 480px;
  padding: 5px;
  border: 5px solid #a0a083;
  border-bottom: none;
}

.July2014 {
  color: #6e9075;
  background-color: #e4e9b2;
  height: 500px;
  padding: 5px;
  border: 5px solid #a0a083;
  border-bottom: none;
}

.July2013 {
  color: #6e9075;
  background-color: #e4e9b2;
  height: 320px;
  padding: 5px;
  border: 5px solid #a0a083;
  border-bottom: none;
}

.July2012 {
  color: #6e9075;
  background-color: #e4e9b2;
  height: 340px;
  padding: 5px;
  border: 5px solid #a0a083;
  border-bottom: none;
}

.July2011 {
  color: #6e9075;
  background-color: #e4e9b2;
  height: 300px;
  padding: 5px;
  border: 5px solid #a0a083;
  border-bottom: none;
}

.July2010 {
  color: #6e9075;
  background-color: #e4e9b2;
  height: 440px;
  padding: 5px;
  border: 5px solid #a0a083;
  border-bottom: none;
}

.July2009 {
  color: #6e9075;
  background-color: #e4e9b2;
  height: 340px;
  padding: 5px;
  border: 5px solid #a0a083;
  border-bottom: none;
}

.July2008 {
  color: #6e9075;
  background-color: #e4e9b2;
  height: 360px;
  padding: 5px;
  border: 5px solid #a0a083;
  border-bottom: none;
}
